{% extends 'main/base.html' %}
{% block title %}
    {{ service.name }}
{% endblock %}
{% block content %}
    <div class='service_info_header'>
        <h1>{{service.name}} -- {{service.price_hour}}€/hour</h1>
        <h5 style="align-items: left; margin: 0;">by <a href="#">{{service.company.user}}</a></h5>
    </div>
    <h3>{{service.field}}</h3>
    <p style="text-align: left;">{{service.description}}</p>
    <p style="text-align: left;">Created on {{service.date}}</p>
    {% if request.user.is_customer %}
        <a href="/services/{{service.id}}/request_service/" class="like_button">Request Service</a>
    {% endif %}
{% endblock %}